{% extends "layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}
<div class="w-50 mx-auto">
    <h1>About</h1>
    <p class="lead">
        Sick of splitting the bill? Try Flip with your friends. Flip helps you randomly decide who’s going to get the bill each time. The more times you go out together, the more equally you’ll contribute. To forever friendships!
    </p>
    <p class="lead">
        <a href="/register" class="btn btn-lg btn-secondary">Register Now</a>
    </p>
</div>

{% endblock %}
